@use '../../assets/styles/abstracts/mixins' as *;
@use '../../assets/styles/abstracts/functions' as *;

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.dialog {
  @include apply-color('common', 'common-white', background-color);
  width: 480px;
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -55%);
  transition: opacity 0.35s ease, transform 0.35s ease;
  padding: 36px;
  border-radius: 10px;

  &.dialog-animate-in {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  @include responsive('md') {
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 10px 10px 0 0;

    transform: translateY(100%);
    opacity: 0;

    &.dialog-animate-in {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.dialog-close-btn {
  position: absolute;
  padding: 0;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  @include apply-color('common', 'common-grey');
}

.dialog-content {
  display: flex;
  flex-direction: column;
}

.dialog-title {
  padding: 4px 4px 12px 0;
  @include apply-color('primary', 'dark');
  @include apply-font('kor', 'subhead1');
}

.goback-btn {
  margin-top: 30px;
  @include apply-color('primary', 'main');
  font-size: 15px;
  font-weight: 600;
}

.dialog-btn-group {
  padding-top: 24px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.dialog-btn {
  width: calc(50% - 4px);
  &.confirm-btn {
    @include button-base('md', 'primary', 'main', 'dark');
    @include apply-color('common', 'common-white');

    &.full {
      width: calc(100%);
    }
  }
  &.cancel-btn {
    @include button-base('md', 'common', 'common-white', 'primary:dark');
    @include apply-color('primary', 'main');
    border: 2px solid get-color('primary', main);
    &:hover {
      @include apply-color('common', 'common-white');
      border: none;
    }

    &.full {
      width: calc(100%);
    }
  }
}
